<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.teams.mapper.ProducePgMapper">
  		
  		<!-- 查询已通过审核并未派工的生产计划 -->
  		<select id="SelectApply" resultType="m_apply_mx">
  			SELECT a.*,b.check_time FROM m_apply_mx a,m_apply b WHERE a.apply_id IN
           (SELECT apply_id FROM m_apply WHERE check_tag=#{check_tag}) AND manufacture_tag=#{manufacture_tag}
  		</select>
  
  		<!-- 通过产品编号查询工序-->
  		<select id="SelGx" resultType="M_design_procedure_details">
  			SELECT a.*,b.name FROM m_design_procedure_details a,m_gonxu b,
    m_design_procedure c WHERE a.parent_id = c.design_id AND a.procedure_id
    = b.id AND c.check_tag = '审核通过' AND c.product_id=#{product_id}
  		</select>
  		
  
  		<!-- 查询工序物料信息 -->
  		<select id="SelWL" resultType="m_procedure_module">
 			SELECT * FROM m_procedure_module
			WHERE design_id=#{design_id} AND procedure_name =#{name}
  		</select>
  		
  		<!-- 提交派工单 -->
  		<insert id="addPg">
  			insert into  m_pg value(null,#{jhdbh},#{pg_id},#{product_id},#{product_name},#{pg_ren},DEFAULT,#{amount},now(),DEFAULT)
  		</insert>
  		
  		<!-- 修改生产计划表字段已派工 -->
		<update id="updAySh">
			update m_apply_mx set manufacture_tag="已派工" where product_id=#{product_id} and apply_id=#{scbh} 
		</update>
		
		<!-- 查询信息范围为所有未审核的派工单 -->
		<select id="SelectPg" resultType="m_pg">
			select * from m_pg where check_tag=#{check_tag}
		</select>
  		
  		<!-- 查询生产派工单总数 -->
  		<select id="SelSum" resultType="int">
  			select  count(1) from m_pg where check_tag=#{check_tag}
  		</select>
  		
  		<!-- 生产派工单审核通过    通过产品编号product_id-->
  		<update id="updPgtg">
	        update m_pg set check_tag=#{check_tag}
	        where pg_id=#{pg_id}
       </update>
       
       <!-- 修改派工标志 -->
       <update id="updPgbz">
            update m_apply_mx set manufacture_tag=#{manufacture_tag}
            where product_id=#{product_id} and apply_id=#{apply_id}
       </update>
       
       <!-- 删除派工单 -->
       <delete id="delPgd">
            delete from m_pg where pg_id=#{pg_id}
       </delete>
       
       <!-- 生产派工单查询-->
	   <select id="SelectPG2" resultType="m_pg">
			select * from m_pg where check_tag=#{check_tag}
	   </select>
	   
	   <!-- 查询符合条件的生产派工单总数-->
	   <select id="SelSum2" resultType="int">
	   		select  count(1) from m_pg where check_tag=#{check_tag}
	   </select>
  </mapper>