<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.teams.mapper.ProductSjMapper">
  <!--查询审核通过的产品信息  -->
  <select id="selectProduct" resultType="D_file">
			SELECT a.product_id,a.product_name,a.list_price,
			a.factory_name,a.amount_unit,a.delete_tag,
			b.tname,c.pname FROM D_FILE a,TYPE b,pclass c
			WHERE b.`tid`=a.`tid` 
			AND c.`pid`=a.`pid`
			AND CHECK_TAG=#{CHECK_TAG}
  </select>
  <!--删除和恢复审核通过的产品信息 -->
  <update id="updDelete_tag">
            update d_file set delete_tag =#{delete_tag} 
            where product_id =#{product_id}
  </update>
  
  <!--永久删除审核通过的产品信息 -->
  <delete id="yjDeleteProduct">
            delete from d_file where product_id =#{product_id}
  </delete>

   <!-- 产品档案等待审核查询 -->     
     <select id="selectcpdash" resultType="D_file">
        select a.*,b.fname,c.tname,d.pname from d_file a,feilei b,type c,pclass d
        where a.fid=b.fid and 
        a.tid=c.tid and 
        a.pid=d.pid and  
        a.check_tag=#{check_tag}
     </select>
     
     <!-- 产品类型查询 -->
     <select id="selecttype" resultType="Type">
        select * from type
     </select>
     
     <!-- 产品档次查询 -->
     <select id="selectpclass" resultType="Pclass">
        select * from pclass
     </select>
     
     <!-- 产品档案审核 -->
     <update id="updfh">
        update d_file set product_name=#{product_name},factory_name=#{factory_name},
        product_nick=#{product_nick},tid=#{tid},pid=#{pid},personal_unit=#{personal_unit},
        personal_value=#{personal_value},provider_group=#{provider_group},list_price=#{list_price},
        cost_price=#{cost_price},amount_unit=#{amount_unit},warranty=#{warranty},twin_name=#{twin_name},
        twin_id=#{twin_id},lifecycle=#{lifecycle},responsible_person=#{responsible_person},register=#{register},
        check_tag=#{check_tag},checker=#{checker},check_time=now() 
        where product_id=#{product_id}
     </update>
     
     <!-- 查询等待复核总数 -->
     <select id="selectddfh" resultType="int">
        SELECT count(1) from d_file where check_tag=#{check_tag}
     </select>
     
     <!-- 查询通过复核总数 -->
     <select id="selecttgfh" resultType="int">
        SELECT count(1) from d_file where check_tag=#{check_tag}
     </select>

     <!-- 产品物料设计单审核查询 -->
     <select id="selectwusjsh" resultType="D_module">
        select * from D_module where check_tag=#{check_tag}
     </select>
     
     <!-- 查询产品物料设计单等待审核总数 -->
     <select id="selectwuddshsum" resultType="int">
        SELECT count(1) from D_module where check_tag=#{check_tag}
     </select>
     
     <!-- 查询产品设计单物料明细 -->
     <select id="selectwlmx" resultType="D_module_details">
        select * from D_module_details where design_id=#{design_id}
     </select>
     
     <!-- 物料组成设计通过 -->
     <update id="updatewlsh">
        update D_module set module_describe=#{module_describe},checker=#{checker},check_time=now(),check_tag=#{check_tag}
        where design_id=#{design_id}
     </update>
     
     <!-- 物料组成设计不通过 -->
     <delete id="delwlsjmx">
        delete from D_module_details where design_id=#{String design_id}
     </delete>
     
     <!-- 物料组成设计不通过 -->
     <update id="updcpdnwlsj">
        update d_file set design_module_tag=#{design_module_tag} where product_id=#{product_id}
     </update>
     
     <!-- 物料组成设计不通过 -->
     <delete id="delwlsj">
        delete from D_module where design_id=#{design_id}
     </delete>
     
		<!-- 查询显示的信息为所有已通过复核的产品档案 -->  	
		<select id="selectId2" resultType="D_file">
			SELECT a.product_id,a.product_name,a.list_price,a.factory_name,a.amount_unit,
			b.tname,c.pname FROM D_FILE a,TYPE b,pclass c
			WHERE b.`tid`=a.`tid` 
			AND c.`pid`=a.`pid`
			AND CHECK_TAG=#{CHECK_TAG}
		</select>
		
		<!-- 通过产品编号(id)查询档案信息 -->
		<select id="Selidxx" resultType="D_file">
			SELECT a.*,b.tname,c.pname FROM D_FILE a,TYPE b,pclass c
			WHERE b.`tid`=a.`tid` 
			AND c.`pid`=a.`pid`
			AND product_id=#{product_id}
		</select>
		
		<!-- 修改产品档案信息 -->
		<update id="updBG">
			update D_file
			<set>
				change_time=NOW(),file_change_amount=(file_change_amount+1),CHECK_TAG=#{check_tag},
				<if test="product_name!=null and product_name!=''">product_name=#{product_name},</if>
				<if test="factory_name!=null and factory_name!=''">factory_name=#{factory_name},</if>
				<if test="product_nick!=null and product_nick!=''">product_nick=#{product_nick},</if>
				<if test="tid!=null and tid!=''">tid=#{tid},</if>
				<if test="pid!=null and pid!=''">pid=#{pid},</if>
				<if test="personal_unit!=null and personal_unit!=''">personal_unit=#{personal_unit},</if>
				<if test="personal_value!=null and personal_value!=''">personal_value=#{personal_value},</if>
				<if test="provider_group!=null and provider_group!=''">provider_group=#{provider_group},</if>
				<if test="warranty!=null and warranty!=''">warranty=#{warranty},</if>
				<if test="twin_name!=null and twin_name!=''">twin_name=#{twin_name},</if>
				<if test="twin_id!=null and twin_id!=''">twin_id=#{twin_id},</if>
				<if test="lifecycle!=null and lifecycle!=''">lifecycle=#{lifecycle},</if>
				<if test="list_price!=null and list_price!=''">list_price=#{list_price},</if>
				<if test="cost_price!=null and cost_price!=''">cost_price=#{cost_price},</if>
				<if test="real_cost_price!=null and real_cost_price!=''">real_cost_price=#{real_cost_price},</if>
				<if test="amount_unit!=null and amount_unit!=''">amount_unit=#{amount_unit},</if>
				<if test="product_describe!=null and product_describe!=''">product_describe=#{product_describe},</if>
				<if test="responsible_person!=null and responsible_person!=''">responsible_person=#{responsible_person},</if>
				<if test="register!=null and register!=''">register=#{register},</if>
				<if test="register_time!=null and register_time!=''">register_time=#{register_time},</if>
				<if test="checker!=null and checker!=''">checker=#{checker},</if>
				<if test="check_time!=null and check_time!=''">check_time=#{check_time},</if>
				<if test="check_tag!=null and check_tag!=''">check_tag=#{check_tag},</if>
				<if test="changer!=null and changer!=''">changer=#{changer},</if>
				<if test="price_change_tag!=null and price_change_tag!=''">price_change_tag=#{price_change_tag},</if>
				<if test="delete_tag!=null and delete_tag!=''">delete_tag=#{delete_tag},</if>
				<if test="design_module_tag!=null and design_module_tag!=''">design_module_tag=#{design_module_tag},</if>
				<if test="design_procedure_tag!=null and design_procedure_tag!=''">design_procedure_tag=#{design_procedure_tag},</if>
				<if test="design_cell_tag!=null and design_cell_tag!=''">design_cell_tag=#{design_cell_tag},</if>
			</set>	
			where product_id=#{product_id}
		</update>
		
		<!-- 查询通过审核的商品档案信息 -->
		<select id="Selad" resultType="D_file">
			SELECT a.product_id ,a.product_name,a.factory_name ,a.amount_unit,a.cost_price ,c.tname ,d.pname 
			FROM d_file a,TYPE c,pclass d 
			WHERE a.tid=c.tid AND a.pid=d.pid AND a.check_tag=#{check_tag} AND c.tid=#{tid}
			AND design_module_tag = #{design_module_tag}  AND  a.delete_tag ='未删除'
		</select>
		
		
		<!-- 物料组成设计单 -->
		<insert id="productWlZc">
		insert into d_module values(null,#{sjdh},#{product_id},#{product_name},#{sjr},null,#{d},#{sjr},sysdate(),null,default,null,default,default,default);
		</insert>
		
		<!-- 物料明细 -->
		<insert id="wlZcMx">
		insert into d_module_details values(null,#{sjdh},#{string},#{string2},null,#{string3},#{i},#{i},#{d},#{e});
		</insert>
		
		<!-- 修改物料设计 -->
		<update id="updWlSj">
		update d_file set design_module_tag =#{design_module_tag} where product_id =#{product_id}
		</update>
 
  <!-- 查询风险 -->
  <select id="selectfeilei" resultType="Feilei">
    select * from feilei
  </select>
 
 <!-- 增加产品 -->
 <insert id="addda">
insert into d_file values(null,
	  #{product_id},
	  #{product_name},
	  #{factory_name},
	  #{product_nick},
	  #{fid},
	  #{tid},
	  #{pid},
	  #{personal_unit},
	  #{personal_value},
	  #{provider_group},
	  #{warranty},
	  #{twin_name},
	  #{twin_id},
	  #{lifecycle},
	  #{list_price},
	  #{cost_price},
	  #{real_cost_price},
	  
	  #{amount_unit},
	  #{product_describe},
	  #{responsible_person},
	  #{register},
	  NOW(),
	  #{checker},
	  DEFAULT,
	  #{check_tag},
	  #{changer},
	  DEFAULT,
	  #{change_tag},
	  #{price_change_tag},
	  DEFAULT,
	  #{delete_tag},
	  #{design_module_tag},
	  #{design_procedure_tag},
	  #{design_cell_tag}
	)
</insert>

   <!-- 产品档案查询 -->
   <select id="selecId" resultType="D_file">
select a.*,b.fname,c.tname,d.pname from d_file a,feilei b,type c,pclass d where a.fid=b.fid and a.tid=c.tid and a.pid=d.pid and a.delete_tag='未删除' and a.check_tag='审核通过' 
	</select>

   <!-- 物料查询 -->
	<select id="selD_module" resultType="D_module">
		select * from d_module where check_tag='审核通过'  and  delete_tag ='未刪除'
	</select>
	
	<!-- 物料查询详情 -->
	<select id="selD_MODULE_DETAILS" resultType="D_module_details">
		select * from d_module_details where design_id=#{design_id} 
	</select>
	<!-- 查询产品名称是否重复 -->
	<select id="selectname" resultType="int">
	select count(product_name) from d_file where product_name=#{product_name}
	</select>
  </mapper>
