<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.teams.mapper.ProviderMapper">
  
  		<!-- 查询所有供应商 -->
  		<select id="AllGYS" resultType="provider">
  			select * from provider
  		</select>
  		
  		<!--查询供应商详情 -->
  		<select id="Selxx" resultType="provider">
  			select a.*,b.fid,b.fname from provider a,feilei b where providerId=#{providerId}
  			and a.fid = b.fid
  		</select>
  
  		<!-- 增加供应商 -->
  		<insert id="addGYS">
  			insert into provider value(NULL,#{providerId},#{providerName},#{providerAddress},#{linkman},#{fid},#{providerPhone},#{register},DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT)
  		</insert>
  		
  		<!-- 供应商名称是否重复 -->
  		<select id="selectgysname" resultType="int">
			select count(providerName) from provider where providerName=#{providerName}
		</select>
		
		<!-- 供应商复核 -->
		<select id="AllGYSFu" resultType="provider">
  			select * from provider where check_tag=#{check_tag}
  		</select>
  </mapper>