<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teams.mapper.ProviderSqDjMapper">
	<select id="selprovider" resultType="provider">
		select * from provider where
		check_tag='审核通过'
		<if test="keyWord!=null and keyWord!=''">
		 	and (providerId like concat('%',#{keyWord},'%') or providerName like concat('%',#{keyWord},'%') ) 
	    </if>
	    order by id desc
	</select>

	<select id="selD_file" resultType="D_file">
		<!-- select * from d_file where product_id not in (select product_id from providerSqXq) and  tid=2 -->
         select * from d_file where product_name not in(select product_name from 
         providersqxq where providerSqId in(select providerSqId from providersq where providerId=#{providerSqId})) and tid=2
	</select>

    <select id="selectCount" resultType="int">
    select count(1) from d_file where product_id not in (select product_id from 
			providerSqXq where providerSqId in(select providersqId from providersq where providerId=#{providerId})) and tid=2 
    </select>
	<insert id="addproviderSq">
		insert into providerSq
		values(null,#{providerSqId},#{providerId},#{providerName},#{providerPhone},SYSDATE(),#{register},
		SYSDATE(),DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT)
	</insert>
	<insert id="addproviderSqXq">
		insert into providerSqXq
		values(null,#{providerSqId},#{providerSqXqId},#{product_id},#{product_name},
		DEFAULT,#{unit},#{price},#{subtotal})
	</insert>

	<select id="selproviderSqXq" resultType="providerSqXq">
		select a.* from providerSqXq a,providerSq b,provider c 
		where a.providerSqId=b.providerSqId and b.providerId=#{providerId} group by a.id
	</select>

	<update id="updproviderSqXq">
		update providerSqXq set price=#{price},
		subtotal=#{price}
		where product_id=#{product_id} and product_name=#{product_name}
	</update>

	<select id="selXq" resultType="providerSqXq">
		select a.* from providerSqXq
		a,providerSq b,provider c
		where a.providerSqId=b.providerSqId
		and b.providerId=#{providerId}

	</select>

	<!-- 审核 -->
	<select id="selproviderSq" resultType="providerSq">
		select * from providerSq
		where check_tag='等待审核'  
		<if test="keyWord!=null and keyWord!=''">
		 	and (providerId like concat('%',#{keyWord},'%') or providerName like concat('%',#{keyWord},'%') ) 
	    </if>
	   GROUP BY providerSqId order by id desc
	</select>

	<select id="selcxxq" resultType="providerSqXq">
		select * from providerSqXq where
		providerSqId=#{providerSqId}
	</select>

	<!-- 修改审核状态 -->
	<update id="updshzt">
		update providerSq set
		check_tag=#{check_tag},check_time=sysdate(),checker=#{checker},change_tag=#{change_tag},
		shbz=#{shbz}
		where providerSqId=#{providerSqId} and providerName=#{providerName}
	</update>

	<!-- 登记查询 -->
	<select id="seldjsy" resultType="providerSq">
		select * from providerSq where 1=1
		<if test="keyWord!=null and keyWord!=''">
		 	and (providerId like concat('%',#{keyWord},'%') or providerName like concat('%',#{keyWord},'%') ) 
	    </if>
	   order by id desc
	</select>

	<select id="selshxq" resultType="providerSqXq">
		select * from providerSqXq where providerSqId=#{providerSqId}
	</select>

	<!-- 变更 -->
	<select id="selsywbg" resultType="providerSq">
		select a.*,b.providerSqXqId from providerSq a,providerSqXq b where
		a.providerSqId=b.providerSqId and a.change_tag='未变更' and check_tag!='审核通过' GROUP BY
		a.providerSqId
		<if test="keyWord!=null and keyWord!=''">
		 	and (providerId like concat('%',#{keyWord},'%') or providerName like concat('%',#{keyWord},'%') ) 
	    </if>
	   order by id desc
	</select>

	<select id="selspbg" resultType="D_file">
		 select * from d_file where product_id not in (select product_id from 
			providerSqXq where providerSqId in(select providersqId from providersq where providerId=#{providerSqId})) and tid=2 
	</select>

	<delete id="delid">
		delete from providerSqXq where id=#{id} and product_id=#{product_id} and
		product_name=#{product_name}
	</delete>

	<update id="updybg">
		update providerSq set
		changer=#{changer},change_time=SYSDATE(),change_tag=#{change_tag},check_tag=#{check_tag},
		bgbz=#{bgbz}
		where providerSqId=#{providerSqId} and providerId=#{providerId}

	</update>
</mapper>