<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.teams.mapper.recommendMapper">
  <!-- 查询需要推荐供应商的物料信息 -->
  <select id="selectrec" resultType="D_file">
SELECT a.*,b.tname,c.fname,d.pname from d_file a,type b,feilei c,pclass d WHERE a.tid=b.tid AND a.product_id NOT in (select product_id from recommend WHERE recommend_tag='已推荐') AND a.tid=2 AND a.fid=c.fid AND a.pid =d.pid
  </select>
  
  <!-- 查询所有供应商 -->
  <select id="selectgys" resultType="provider">
SELECT a.*,b.fname FROM provider a,feilei b WHERE a.fid=b.fid
  </select>
  
  <!-- 增加产品供应商推荐管理表 -->
  <insert id="addgys">
  INSERT INTO recommend VALUES(NULL,#{recommendId},#{product_id},#{product_name},#{recommender},SYSDATE(),DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT);
  </insert>
  <!-- 增加产品供应商推荐管理明细表 -->
  <insert id="addgysmx">
  INSERT INTO recommendXq VALUES(NULL,#{recommendId},#{providerId},#{providerName});
  </insert>
  <!--添加成功之后将未推荐改成已推荐 -->
  <update id="updtj">
  UPDATE recommend SET recommend_tag="已推荐" WHERE product_id=#{product_id}
  </update>
  
  <!-- 查询需要审核的数据 -->
  <select id="selectfname" resultType="recommend">
  SELECT a.* ,b.fname from recommend a,feilei b where b.fid in (select fid from d_file where product_id = a.product_id) and a.check_tag='等待审核'
  </select>
  <!-- 查询明细表 -->
  <select id="selectmxb" resultType="recommendXq">
  select *from recommendXq where recommendId=#{recommendId}
  </select>
  
  <!-- 审核通过修改字段 -->
  <update id="updsh">
 UPDATE recommend SET check_tag="审核通过" WHERE recommendId=#{recommendId}
  </update>
  
  <!-- 审核未通过修改字段 -->
  <update id="updshs"> 
  UPDATE recommend SET check_tag="审核未通过",change_tag="未变更" WHERE recommendId=#{recommendId}
  </update>
  
  <!-- 查询产品供应商推荐管理 -->
  <select id="selectreco" resultType="recommend">
  select *from recommend
  </select>
  
  <!-- 查询明细 -->
  <select id="selectgymx" resultType="recommendXq">
  SELECT *FROM recommendXq where recommendId=#{recommendId}
  </select>
  
  <select id="selectwbg" resultType="recommend">
    SELECT a.* ,b.fname from recommend a,feilei b where b.fid in (select fid from d_file where product_id = a.product_id) and a.change_tag='未变更'
  </select>
  
  
   <!-- 变更数据 -->
  <update id="updbgs">
  UPDATE recommend SET change_tag='已变更',check_tag='等待审核',recommend_tag='未推荐' WHERE recommendId=#{recommendId}
  </update>
  
  <!-- 删除需要变更的供应商 -->
  <delete id="delbgs" >
  delete from recommendXq where id=#{id}
  </delete>
 
  
  </mapper>