<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.teams.mapper.StockDiaoduMapper">
  
    <!-- 查询所有入库单 -->
    <select id="selectoutStock" resultType="S_gather">
    select * from s_gather where check_tag='审核通过'  and store_tag ='已登记'
    </select>
    
    <select id="selectAlloutStock" resultType="S_gather">
    select * from s_gather 
    </select>
    
    <select id="selectAllinStock" resultType="s_pay">
    select * from s_pay 
    </select>
    <!-- 查询所有出库单 -->
    <select id="selectoutStock1" resultType="s_pay">
    select * from s_pay where check_tag='审核通过'  and store_tag ='已登记'
    </select>   
    
     <select id="selectoutStockcount1" resultType="int">
    select count(1) from s_gather where check_tag='审核通过'  and store_tag ='已登记'
    </select>
    
     <select id="selectoutStockcount2" resultType="int">
    select count(1) from s_gather where store_tag ='已调度'
    </select>
    
     <select id="selectoutStockcount3" resultType="int">
    select count(1) from s_pay where check_tag='审核通过'  and store_tag ='已登记'
    </select>
    
     <select id="selectoutStockcount4" resultType="int">
    select count(1) from s_pay where store_tag ='已调度'
    </select>
    
     <select id="selectoutStockcount5" resultType="int">
    select count(1) from s_pay where check_tag='等待审核'  and store_tag ='已调度' and reason='生产领料'
    </select>
    
     <select id="selectoutStockcount6" resultType="int">
    select count(1) from s_pay where paid_amount_sum!=0  and reason='生产领料'
    </select>
    
    <select id="selectoutStockcount7" resultType="int">
    select count(1) from s_pay where check_tag='等待审核'  and store_tag ='已登记' and reason='生产领料'
    </select>
    
     <select id="selectoutStockcount8" resultType="int">
    select count(1) from s_pay where check_tag='审核通过'  and store_tag ='已调度' and reason='生产领料'
    </select>
     <select id="selectAlloutStockcount1" resultType="int">
    select count(1) from s_gather 
    </select>
    
    <select id="selectAlloutStockcount2" resultType="int">
    select count(1) from s_gather where gathered_amount_sum &gt;= amount_sum
    </select>
    
    <select id="selectAlloutStockcount3" resultType="int">
    select count(1) from s_pay
    </select>
    
    <select id="selectAlloutStockcount4" resultType="int">
    select count(1) from s_pay where paid_amount_sum !=0
    </select>
    <!-- 查询所有入库单详情 -->
    <select id="selectoutStockXq" resultType="S_gather_details">
    select * from s_gather_details where gather_id=#{gather_id}
    </select>

    <!-- 查询所有出库单详情 -->
    <select id="selectoutStockXq1" resultType="s_pay_details">
    select * from s_pay_details where pay_id=#{pay_id}
    </select>
       
    <!-- 查询有无可调度的安全配置库存 -->
    <select id="selectKdd" resultType="int">
    select count(1) from s_cell where product_id =#{product_id} and check_tag='审核通过'
    </select>
    
    <!-- 根据产品编号多表联查 -->
    <select id="selectoutStockCp" resultType="stockjh">
    select a.*,b.amount as amounts,b.cost_price,b.gathered_amount
    from s_cell a,s_gather_details b where a.product_id = b.product_id
    and a.product_id = #{product_id} and b.gather_id=#{gather_id}
    </select>
    
    <!-- 根据产品编号多表联查 -->
    <select id="selectoutStockCp1" resultType="stockjhs">
    select a.*,b.amount as amounts,b.cost_price,b.paid_amount
    from s_cell a,s_pay_details b where a.product_id = b.product_id
    and a.product_id = #{product_id} and b.pay_id=#{pay_id}
    </select>
    <!--修改库存  -->
    <update id="updKc">
    update s_cell set amount = amount+#{gathered_amount} where product_id =#{product_id}
    </update>
    
    <update id="supdDiaodu">
     update s_gather_details set gathered_amount = #{gathered_amount},
     gather_tag='已调度'  where product_id =#{product_id}  and gather_id = #{gather_id}
    </update>
    
    <update id="updZb">
    update s_gather set gathered_amount_sum=gathered_amount_sum+#{gathered_amount}
    where gather_id = #{gather_id}
    </update>
  
 
    <!--修改库存  -->
    <update id="updKc1">
    update s_cell set amount =amount-#{paid_amount} where product_id =#{product_id}
    </update>
    
     <update id="updKc2">
    update s_cell set amount =amount-#{paid_amount} where product_id =#{product_id}
    </update>
    
    <update id="updDiaodu1">
     update s_pay_details set paid_amount = #{paid_amount},
     pay_tag='已调度'  where product_id =#{product_id}  and pay_id = #{pay_id}
    </update>
    
     <update id="updDiaodu2">
     update s_pay_details set paid_amount = #{product_id},
     pay_tag='已登记'  where product_id =#{paid_amount}  and pay_id = #{pay_id}
    </update>
    
     <update id="updDiaodu3">
     update s_pay_details set paid_amount = #{paid_amount},
     pay_tag='已调度'  where product_id =#{product_id}  and pay_id = #{pay_id}
    </update>
    
    <update id="updZb1">
    update s_pay set paid_amount_sum=paid_amount_sum+#{paid_amount}
    where pay_id = #{pay_id}
    </update>
      
    <update id="updZb2">
    update s_pay set paid_amount_sum=paid_amount_sum+#{paid_amount}
    where pay_id = #{pay_id}
    </update>
    
    <!-- 修改入库表为已调度 -->
    <update id="updZdiaodu">
    update s_gather set attemper=#{attemper},attemper_time=sysdate(),store_tag='已调度'
    where gather_id = #{gather_id}
    </update>

    <!-- 修改出库表为已调度 -->
    <update id="updZdiaodu1">
    update s_pay set attemper=#{attemper},attemper_time=sysdate(),store_tag='已调度'
    where pay_id = #{pay_id}
    </update>
 
    <update id="updZdiaodu2">
    update s_pay set register=#{attemper},register_time=sysdate(),store_tag='已登记'
    where pay_id = #{pay_id}
    </update>
         
     <update id="updZdiaodu3">
    update s_pay set checker=#{attemper},check_time=sysdate(),store_tag='已调度'
    ,check_tag='审核通过'  where pay_id = #{pay_id}
    </update>
    <update id="updKcxq">
     update s_gather_details set gather_tag='已调度'
     where gather_id = #{gather_id} and  product_id =#{product_id}  
    </update>
    
    <update id="updDdu">
    update s_gather set register=#{attemper},register_time=sysdate(),
    check_tag='等待审核' ,attemper=#{attemper},attemper_time=sysdate(),
    store_tag='已调度'  where gather_id = #{gather_id}
    </update>
    
    <update id="updKcxq1">
     update s_pay_details set pay_tag='已调度'
     where pay_id = #{pay_id} and  product_id =#{product_id}  
    </update>
    
    <update id="updDdu1">
    update s_pay set register=#{attemper},register_time=sysdate(),
    check_tag='等待审核' ,attemper=#{attemper},attemper_time=sysdate(),
    store_tag='已调度'  where pay_id = #{pay_id}
    </update>
    
    <!-- 查询库存 -->
    <select id="selectscell" resultType="s_cell">
    select * from s_cell where check_tag='审核通过'
    </select>
    
    <select id="selectscellcount1" resultType="int">
    select count(1) from s_cell where check_tag='审核通过'
    </select>
    
    <select id="selectscellcount2" resultType="int">
    select sum(amount) from s_cell where check_tag='审核通过'
    </select>
    
    <select id="selectscellcount3" resultType="int">
    select count(1) from s_cell where check_tag='审核通过' and amount &gt; max_amount
    </select>
    
    <select id="selectscellcount4" resultType="int">
    select count(1) from s_cell where check_tag='审核通过' and amount &lt; min_amount
    </select>
    
    <!-- 查询所有的入库单 -->
     <select id="selectGetCkd" resultType="s_pay">
        select * from s_pay 
        where reason=#{reason}
        and store_tag=#{store_tag}
        and check_tag=#{check_tag}
     </select>
     
     <update id="updpg">
     update m_pg set scly='已领料' where pg_id=#{pg_id}
     </update>
     
     <update id="updzsd">
     update cgdiaodu set onstock_tag='已入库' where cgDiaoduId=#{zsdbh}
     </update>
  </mapper>